@model UI.ViewModels.GroupViewModels.UserGroupViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
    <div class="ui container mt-4">
        <div class="ui centered card" style="width: 500px;">
            <div class="content">
                <div class="header">
                    Delete user from group
                </div>
            </div>
            <div class="content">
                <h5 class="ui header">Are you sure you want to delete user @Model.CurrentUser.FirstName @Model.CurrentUser.LastName in the group '@Model.Group.Name'?</h5>
            </div>
            <div class="extra content">
                <form class="ui form" asp-action="DeleteUserFromGroup" asp-controller="Group" method="post">
                    <input type="hidden" id="GroupId" name="GroupId" value="@Model.Group.Id"/>
                    <input type="hidden" id="UserId" name="UserId" value="@Model.CurrentUser.Id"/>

                    <button type="submit" class="ui delete-button button">Delete</button>
                    <a href="@Url.Action("Details", "Group", new { id = Model.Group.Id })" class="ui button">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    @if (TempData["Error"] != null)
    {
        <div class="ui container mt-4">
            <div class="ui negative message">
                <p><b>Sorry!</b> - @TempData["Error"]</p>
            </div>
        </div>
    }
</body>
</html>