@using Core.Enums
@model UI.ViewModels.UserGroupsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .cover-card:hover {
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border: #4682B4 1px solid;
        }

        .ui.container {
            margin-top: 20px;
        }

        .add-course-button {
            margin-top: 20px;
            text-align: center;
        }
        
        .cover-card {
            height: 200px; 
        }             
    </style>
</head>
<body>
    <div class="ui container">
        <h3 class="ui header">Groups</h3>
        <hr class="ui divider">
        <div class="ui stackable three column grid">
            @if (!Model.Groups.Any())
            {
                <div class="column">
                    <div class="ui warning message">No groups found.</div>
                </div>
            }
            else
            {
                @foreach (var group in Model.Groups)
                {
                    <div class="column">
                        <div class="ui card cover-card">
                            <div class="content">
                                <div class="header">@group.Name</div>
                                <p>Progress: @group.Progress%</p>
                                <p>Access: @group.GroupAccess</p>
                            </div>
                            <div class="extra content">
                                <a href="@Url.Action("Details", new { id = group.Id })" class="ui details-button button">Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

@if (TempData["Error"] != null)
    {
        <div class="ui container">
            <div class="ui negative message">
                <span>@TempData["Error"]</span>
            </div>
        </div>
    }
</body>
</html>

<script>
    document.querySelectorAll('.ui.card').forEach(card => {
        card.addEventListener('click', function () {
            window.location.href = this.querySelector('.ui.details-button.button').href;
        });
    });
</script>