@using UI.ViewModels;
@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateInGeneralEducationMaterialViewModel

<!DOCTYPE html>

<html>
<body>
<div class="container py-4">
    <h1>Upload File to Task</h1>
    <form method="post" asp-controller="EducationMaterial" asp-action="CreateInGeneral" enctype="multipart/form-data">
        <input type="hidden" asp-for="TimeUploaded" value="@DateTime.Now">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UploadFile" class="control-label"></label>
            <input asp-for="UploadFile" type="file" class="form-control">
            <span asp-validation-for="UploadFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaterialAccess" class="control-label"></label>
            <select id="materialAccessSelect" asp-for="MaterialAccess" class="form-control">
                @if (Model.Courses?.Any() != true)
                {
                    <option value="@MaterialAccess.General">@MaterialAccess.General</option>
                }
                else if (Model.Groups?.Any() != true)
                {
                    <option value="@MaterialAccess.General">@MaterialAccess.General</option>
                    <option value="@MaterialAccess.Course">@MaterialAccess.Course</option>
                }
                else
                {
                    @foreach (var accessValue in Enum.GetValues(typeof(MaterialAccess)))
                    {
                        <option value="@accessValue"> @accessValue </option>
                    }
                }
            </select>
            <span asp-validation-for="MaterialAccess" class="text-danger"></span>
        </div>

        <div class="form-group" id="groupDropdown" style="display:none;">
            <label asp-for="SelectedGroupId" class="control-label">Select Group</label>
            <select asp-for="SelectedGroupId" class="form-control">
                @if (Model.Groups?.Any() == true)
                {
                    foreach (var group in Model.Groups)
                    {
                        <option value="@group.Id">@group.Name</option>
                    }
                }
                else
                {
                    <option value="" disabled>No groups available</option>
                }
            </select>
            <span asp-validation-for="SelectedGroupId" class="text-danger"></span>
        </div>

        <div class="form-group" id="courseDropdown" style="display:none;">
            <label asp-for="SelectedCourseId" class="control-label">Select Course</label>
            <select asp-for="SelectedCourseId" class="form-control">
                @if (Model.Courses?.Any() == true)
                {
                    foreach (var course in Model.Courses)
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                }
                else
                {
                    <option value="" disabled>No courses available</option>
                }
            </select>
            <span asp-validation-for="SelectedCourseId" class="text-danger"></span>
        </div>

        <div class="py-2">
            <div class="form-group">
                <input class="btn btn-outline-primary" type="submit" value="Save"/>
                <a class="btn btn-outline-dark" asp-controller="Course" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>

<script>
    const materialAccessSelect = document.querySelector("#materialAccessSelect");
    const groupDropdown = document.querySelector("#groupDropdown");
    const courseDropdown = document.querySelector("#courseDropdown");

    materialAccessSelect.addEventListener("change", function () {
        if (materialAccessSelect.value === "Group") {
            groupDropdown.style.display = "block";
            courseDropdown.style.display = "none";
        } else if (materialAccessSelect.value === "Course") {
            groupDropdown.style.display = "none";
            courseDropdown.style.display = "block";
        } else {
            groupDropdown.style.display = "none";
            courseDropdown.style.display = "none";
        }
    });
</script>

</body>
</html>