@using Core.Models;
@using Core.Enums
@model List<EducationMaterial>

<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<html>
<body>
@{
    var materialIds = string.Join(" ", Model.Select(m => m.Id));
}

@if (Model != null && Model.Count > 0)
{
    <div class="container py-4">
        <h2>Uploaded Files:</h2>
        <div class="ui compact menu">
            <div class="ui simple dropdown item">
                Sort by
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">
                        <a type="button" class="btn btn-outline-primary" asp-controller="EducationMaterial" asp-action="IndexMaterials" asp-route-materialIds="@materialIds" asp-route-sortBy="recent">Sort by recent</a>
                    </div>
                    <div class="item">
                        <a type="button" class="btn btn-outline-primary" asp-controller="EducationMaterial" asp-action="IndexMaterials" asp-route-materialIds="@materialIds" asp-route-sortBy="old">Sort by old</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            @foreach (var file in Model)
            {
                <div class="list-group-item list-group-item-action my-2">
                    <div class="row">
                        <div class="col-7">
                            <h5 class="mb-0">@file.Name</h5>
                        </div>
                        <div class="col-5 d-flex justify-content-end" style="white-space: nowrap;">
                            @if (User.Identity.IsAuthenticated && User.IsInRole(AppUserRoles.Admin.ToString()))
                            {
                                <div class="mx-2">
                                    <a type="button" class="btn btn-outline-danger" asp-controller="EducationMaterial" asp-action="Delete" asp-route-id="@file.Id">Delete</a>
                                </div>
                            }
                            <div class="mx-2">
                                <a type="button" class="btn btn-outline-primary" asp-controller="EducationMaterial" asp-action="Detail" asp-route-id="@file.Id">Detail</a>
                            </div>
                            <div class="mx-2">
                                <p>@file.UploadTime.ToString("g")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="ui negative message">
        <p><b>Sorry!</b> - @TempData["Error"]</p>
    </div>
}

</body>
</html>