@using Core.Models;
@using Core.Enums
@model List<EducationMaterial>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .cover-card:hover {
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border: #4682B4 1px solid;
        }

        .ui.container {
            margin-top: 20px;
        }

        .add-course-button {
            margin-top: 20px;
            text-align: center;
        }
        
        .cover-card {
            height: 200px; 
        }             
    </style>
</head>
<body>
@{
    var materialIds = string.Join(" ", Model.Select(m => m.Id));
}

@if (Model != null && Model.Count > 0)
{
    <div class="container py-4">
        <h2>Uploaded Files:</h2>
        <div class="ui compact menu" style="margin-left: 10px;">
            <div class="ui simple dropdown item">
                Sort by
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">
                        @if (ViewBag.NameSortParam == SortingParam.UploadTime)
                        {
                            <a asp-controller="EducationMaterial" asp-action="IndexMaterials" asp-route-materialIds="@materialIds" asp-route-sortOrder="@ViewBag.NameSortParam"><i class="fa fa-arrow-down" aria-hidden="true"></i> Recent</a>
                        }
                        else
                        {
                            <a asp-controller="EducationMaterial" asp-action="IndexMaterials" asp-route-materialIds="@materialIds" asp-route-sortOrder="@ViewBag.NameSortParam"><i class="fa fa-arrow-up" aria-hidden="true"></i> Recent</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            @foreach (var file in Model)
            {
                <div class="list-group-item list-group-item-action my-2">
                    <div class="row">
                        <div class="col-7">
                            <h5 class="mb-0">@file.Name</h5>
                        </div>
                        <div class="col-5 d-flex justify-content-end" style="white-space: nowrap;">
                            @if (User.Identity.IsAuthenticated && User.IsInRole(AppUserRoles.Admin.ToString()))
                            {
                                <div class="mx-2">
                                    <a type="button" class="btn btn-outline-danger" asp-controller="EducationMaterial" asp-action="Delete" asp-route-id="@file.Id">Delete</a>
                                </div>
                            }
                            <div class="mx-2">
                                <a type="button" class="btn btn-outline-primary" asp-controller="EducationMaterial" asp-action="Detail" asp-route-id="@file.Id">Detail</a>
                            </div>
                            <div class="mx-2">
                                <p>@file.UploadTime.ToString("g")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="ui negative message">
        <p><b>Sorry!</b> - @TempData["Error"]</p>
    </div>
}

</body>
</html>