@using UI.ViewModels
@using Core.Enums

@model IEnumerable<AssignmentViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <!-- Add Bootstrap CSS link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add Font Awesome CSS -->
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="position-relative m-5 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h3 class="font-weight-normal pb-2">Available group assignmnets</h3>
            @if (User.IsInRole(AppUserRoles.Teacher.ToString()))
            {
                <a type="button" class="btn btn-outline-secondary" asp-controller="Assignment" asp-action="Create" asp-route-id="@Model.FirstOrDefault()?.GroupId">Create new Assignment</a>
            }
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var assignment in Model)
        {
            <div class="col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@assignment.Name</h4>
                        @*<p class="card-text">@assignment.Description</p>*@
                        @if (User.IsInRole(AppUserRoles.Student.ToString()))
                        {
                            if(assignment.AssignmentAccess == AssignmentAccess.Planned)
                            {
                                <div class="inline-icon">
                                    <i class="fa fa-times" aria-hidden="true"></i>Access denied
                                </div>
                            }
                            else if(assignment.AssignmentAccess == AssignmentAccess.InProgress)
                            {
                                if(assignment.UserAssignment != null)
                                {
                                    <a asp-controller="AssignmentAnswer" asp-action="CreateAnswer" asp-route-id="@assignment.Id" class="btn btn-primary">
                                        See your answer
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="AssignmentAnswer" asp-action="CreateAnswer" asp-route-id="@assignment.Id" class="btn btn-primary">
                                        Add answer
                                    </a>
                                }
                                
                            }
                            else if(assignment.AssignmentAccess == AssignmentAccess.AwaitingApproval)
                            {
                                <div class="inline-icon">
                                    <i class="fa fa-hourglass" aria-hidden="true"></i> Wait for grade
                                </div>
                            }
                            else
                            {
                                <a asp-controller="Assignment" asp-action="Details" asp-route-id="@assignment.Id" class="btn btn-primary">
                                    See your grade and comments
                                </a>                                
                            }
                        }
                        else
                        {
                            @if (assignment.AssignmentAccess == AssignmentAccess.Planned || assignment.AssignmentAccess == AssignmentAccess.InProgress)
                            {
                                <a asp-controller="Assignment" asp-action="Details" asp-route-id="@assignment.Id" class="btn btn-primary">
                                    Details
                                </a>
                            }
                            else if (assignment.AssignmentAccess == AssignmentAccess.AwaitingApproval)
                            {
                                <a href="#" class="btn btn-primary">See all student answers</a>
                            }
                            else
                            {
                                <a asp-controller="Assignment" asp-action="DeleteAssignment" asp-route-id="@assignment.Id" class="btn btn-primary">
                                    Delete
                                </a> 
                            }
                        }                      
                    </div>
                    <div class="card-footer text-muted">Start Date: @assignment.StartDate.ToString("d")</div>
                    <div class="card-footer text-muted">End date: @assignment.EndDate.ToString("d")</div>
                </div>
            </div>
        }
    </div>
    <!-- Add Bootstrap JS and other scripts here if needed -->
    <!-- This script is for Bootstrap's JavaScript plugins, including the ones used in the form -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

