@using UI.ViewModels.AssignmentViewModels
@using Core.Enums

@model IEnumerable<AssignmentViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <!-- Add Bootstrap CSS link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add Font Awesome CSS -->
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="position-relative m-5 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h3 class="font-weight-normal pb-2">Available group assignmnets</h3>
            @if (User.IsInRole(AppUserRoles.Teacher.ToString()))
            {
                <a href="@Url.Action("Create", "Assignment", new { groupId = ViewBag.GroupId })" class="btn btn-primary">Create new Assignment</a>                
            }
        </div>
    </div>
<div class="row mt-3">
    @if (Model.Any())
    {
        @foreach (var assignment in Model)
        {
            <div class="col-sm-6  mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@assignment.Name</h4>

                            <a href="@Url.Action("Details", "Assignment", new { assignmentId = assignment.Id })" class="btn btn-primary">
                                Details
                            </a>
                      
                    </div>
                    <div class="card-footer text-muted">Start Date: @assignment.StartDate.ToString("d")</div>
                    <div class="card-footer text-muted">End date: @assignment.EndDate.ToString("d")</div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No assignment found for this group.</p>
    }
</div>
    <!-- Add Bootstrap JS and other scripts here if needed -->
    <!-- This script is for Bootstrap's JavaScript plugins, including the ones used in the form -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

