@using Core.Models;
@using System.Web
@using System.Text
@model AssignmentFile

@{
    var fileExtension = Model.FileExtension.ToLower();
    var supportedImageExtensions = new[] { ".jpg", ".jpeg", ".png", ".gif", ".bmp", ".heic" };
    var supportedTextExtensions = new[] { ".html", ".js", ".css", ".txt", ".cs", ".cpp" };
    var supportedVideoExtensions = new[] { ".mp4", ".avi", ".mkv", ".mov" };
    var supportedPdfExtensions = new[] { ".pdf" };
    var supportedWordExtensions = new[] { ".doc", ".docx" };
    var supportedArchiveExtensions = new[] { ".zip", ".rar" };
}

<!DOCTYPE html>
<html>
<body>
<h3>File Details: @Model.Name</h3>

@if (supportedImageExtensions.Contains(fileExtension))
{
    <img src="@Model.Url" alt="Image" style="max-width: 100%;">
}
else if (supportedVideoExtensions.Contains(fileExtension))
{
    <video controls style="max-width: 100%;">
        <source src="@Model.Url" type="video/mp4">
        Your browser does not support the video tag.
    </video>
}
else if (supportedPdfExtensions.Contains(fileExtension))
{
    var url = Model.Url.Replace("dl=0", "raw=1").Replace("dl.dropboxusercontent.com", "www.dropbox.com");

    <div id="pdf-container">
        <object data="@url" type="application/pdf" width="100%" height="600px">
            <p>Your browser does not support displaying PDF files. You can <a href="@url">download file here</a>.</p>
        </object>
    </div>
}
else if (supportedWordExtensions.Contains(fileExtension))
{
    <iframe src="https://view.officeapps.live.com/op/view.aspx?src=@Model.Url" style="width: 100%; height: 600px;"></iframe>
}
else if (supportedArchiveExtensions.Contains(fileExtension))
{
    <p>This is an archive file. You can <a href="@Model.Url">download file here</a>.</p>
}
else if (supportedTextExtensions.Contains(fileExtension))
{
    using (HttpClient httpClient = new HttpClient())
    {
        try
        {
            HttpResponseMessage response = await httpClient.GetAsync(Model.Url);
            response.EnsureSuccessStatusCode();

            string content = await response.Content.ReadAsStringAsync();

            <div class="ui segment">
                <pre>
                    <code class="language-@fileExtension">
                        @Html.Raw(HttpUtility.HtmlEncode(content))
                    </code>
                </pre>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
            <script>
                hljs.initHighlightingOnLoad();
            </script>
        }
        catch (HttpRequestException ex)
        {
            throw new Exception(ex.Message);
        }
    }
}
else
{
    <p>You can <a href="@Model.Url">download file here</a>.</p>
}

@if (TempData["Error"] != null)
{
    <div class="ui negative message">
        <p><b>Sorry!</b> - @TempData["Error"]</p>
    </div>
}

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.7/pdfobject.min.js"></script>