@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<UserActivity>

@{
    var date = (DateTime)ViewData["DateTime"];
}

<!DOCTYPE html>
<html>
<head>
    <title>User activity</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card w-100 pb-0">
                <div class="card-header text-center">
                    <h4>Activity for @(date.ToString("D"))</h4>
                    @{
                        var thisDay = date.AddDays(-1);
                    }
                    @Html.ActionLink(
                        thisDay.DayOfWeek.ToString(),
                        "ActivityForDay",
                        new { thisDay },
                        new { @class = "link-secondary", @style = "margin-right:35%" }
                        )
                    @{
                        thisDay = date.AddDays(1);
                    }
                    @Html.ActionLink(
                        thisDay.DayOfWeek.ToString(),
                        "ActivityForDay",
                        new { thisDay },
                        new { @class = "link-secondary", @style = "margin-left:35%" }
                        )
                </div>
                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"]</span>
                    </div>
                }
                <div class="card-body">
                    @foreach (var activity in Model)
                    {
                        @Html.ActionLink(
                            activity.Name,
                            "ActivityDetails",
                            new { activity.Id },
                            new { @class = "list-group-item" }
                            )
                    }
                </div>
            </div>

            <div class="ui container add-course-button py-4" style="display: flex; justify-content: center; align-items: center;">
                @if (Model.PageCount > 1)
                {
                    <div class="pagination-container">
                        <div class="pagination-container" style="display: flex; justify-content: center; align-items: center;">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        </div>
                        <div class="page-link">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("ActivityForDay", new { thisDay = ViewBag.ThisDay, page = page }),
                                new PagedListRenderOptions
                                {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" }
                                })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

</body>
</html>