@model Core.Models.Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
    <div class="ui container" style="margin-top: 20px;">
        <div class="ui centered card" style="width: 400px;">
            <div class="content">
                <div class="header">
                    Edit Course
                </div>
            </div>
            <div class="content">
                @using  (Html.BeginForm("Edit", "Course", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id);
                    <div class="ui form">
                        <div class="field">
                            <label>@Html.LabelFor(model => model.Name)</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "ui input" })
                        </div>

                        @if (TempData["Error"] != null)
                        {
                            <div class="ui negative message">
                                <p><b>Sorry!</b> - @TempData["Error"]</p>
                            </div>
                        }

                        <button type="submit" class="ui primary button">Edit</button>
                        <a href="@Url.Action("Index", "Course")" class="ui button">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

@* <div class="container mt-4"> *@
@*     <div class="card"> *@
@*         <div class="card-header"> *@
@*             Edit Course *@
@*         </div> *@
@*         <div class="card-body"> *@
@*             @using (Html.BeginForm("Edit", "Course", FormMethod.Post)) *@
@*             { *@
@*                 @Html.HiddenFor(m => m.Id); *@
@*              *@
@*                 <div class="form-group"> *@
@*                     @Html.LabelFor(model => model.Name) *@
@*                     @Html.TextBoxFor(model => model.Name, new { @class = "form-control" }) *@
@*                 </div> *@
@* *@
@*                 @if (TempData["Error"] != null) *@
@*                 { *@
@*                     <div class="col-md-12 alert alert-danger"> *@
@*                         <span><b>Sorry!</b> - @TempData["Error"]</span> *@
@*                     </div> *@
@*                 }   *@
@* *@
@*                 <button type="submit" class="btn btn-primary button-with-margin">Save</button> *@
@*                 <a href="@Url.Action("Details", "Course", new { id = Model.Id })" class="btn btn-secondary">Cancel</a> *@
@*             } *@
@*         </div> *@
@*     </div> *@
@* </div> *@