@model List<UI.ViewModels.TeacherViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f7f7f7;
        }

        .cover-card:hover {
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border: #4682B4 1px solid;
        }

        .ui.container {
            margin-top: 20px;
        }

        .add-course-button {
            margin-top: 20px;
            text-align: center;
        }
        
        .cover-card {
            height: 150px; 
        }             
    </style>
</head>
<body>
@if (TempData["Error"] != null)
{
    <div class="ui container">
        <div class="ui negative message">
            <span>@TempData["Error"]</span>
        </div>
    </div>
}
<div class="ui container">
    <h3 class="ui header">Invite teachers:</h3>
    <hr class="ui divider">
    <div class="ui stackable three column grid">
        @if (!Model.Any())
        {
            <div class="column">
                <div class="ui warning message">No teachers found.</div>
            </div>
        }
        else
        {
            @foreach (var teacher in Model)
            {
                <div class="column">
                    <div class="ui card cover-card">
                        <div class="content" style="display: flex; flex-direction: column; justify-content: center;">
                            <div class="header">
                                @if (teacher.ProfileImage != null)
                                {
                                    <img src="@teacher.ProfileImage.Url" alt="@teacher.ProfileImage.Name" class="rounded-circle img-fluid" style="width: 30px; height: 30px; margin-right: 1px;">
                                }                                
                                @teacher.FirstName @teacher.LastName
                            </div>
                            <div class="user-button" style="text-align: center;">
                                <a href="@Url.Action("Detail", "User", new { id = teacher.Id })" class="ui teal basic button view-profile-button" style="width: 175px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 10px;">View Profile</a>
                            </div>                            
                            @if (teacher.IsInvited)
                            {
                                <div style="margin-top: auto;">
                                    <span class="ui mini message">Teacher added</span>
                                </div>
                            }
                            else
                            {
                                <div style="margin-top: auto;">
                                    <form asp-action="SendInvitation" asp-controller="Course" method="post">
                                        <input type="hidden" name="teacherId" value="@teacher.Id"/>
                                        <input type="hidden" name="courseId" value="@teacher.CourseId"/>
                                        <button type="submit" class="ui details-button button">Send Invitation</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }
        }
    </div>        
</div>

<script>
    document.querySelectorAll('.ui.card').forEach(card => {
        card.addEventListener('click', function () {
            window.location.href = this.querySelector('.ui.view-profile-button').href;
        });
    });
</script>
</body>
</html>