@using UI.ViewModels
@using Core.Enums
@using Core.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var userAdmins = await UserManager.GetUsersInRoleAsync(AppUserRoles.Admin.ToString());
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="py-4">
        <div class="col-md-6">
            <p>
                <h1>Registration</h1>
            </p>
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <p class="text-success">@TempData["SuccessMessage"]</p>
            }
            <div class="py-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <select asp-for="Role" class="form-control">
                                @if (userAdmins.Count() != 0)
                                {
                                    @foreach (var priorityValue in Enum.GetValues(typeof(AppUserRoles)))
                                    {                                       
                                        if ((int)priorityValue != 0)
                                        {
                                            <option value="@priorityValue">@priorityValue</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="@AppUserRoles.Admin">@AppUserRoles.Admin</option>
                                }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="py-2">
                        <div class="form-group">
                            <input class="btn btn-outline-primary" type="submit" value="Register"/>
                            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>