@using BLL.Interfaces
@inject IUserService UserService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UI </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-md-1">
        <header>
            <div class="ui left demo vertical visible inverted sidebar labeled icon menu" style="background-color: #078c61;">
                <a class="item" asp-controller="Home" asp-action="Index">
                    <i class="home icon"></i>
                    Home
                </a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="item" asp-controller="Account" asp-action="Login">
                        <i class="sign-in icon"></i>
                        Login
                    </a>
                    <a class="item" asp-controller="Account" asp-action="Register">
                        <i class="user plus icon"></i>
                        Registration
                    </a>
                }
                else
                {
                    <a class="item" asp-controller="User" asp-action="Index">
                        <i class="user icon"></i>
                        User Profile
                    </a>
                    <a class="item" asp-area="" asp-controller="Course" asp-action="Index">
                        <i class="book icon"></i>
                        Courses
                    </a>
                    <a class="item" asp-area="" asp-controller="Group" asp-action="Index">
                        <i class="group icon"></i>
                        Groups
                    </a>
                    <a class="item" asp-controller="UserActivity" asp-action="ActivityForMonth">
                        <i class="chart bar icon"></i>
                        User Activity
                    </a>
                    <a class="item" asp-controller="Assignment" asp-action="ViewAll">
                        <i class="tasks icon"></i>
                        All assignments
                    </a>
                    <div class="sign-out-custom-position">
                        <a class="item" asp-controller="Account" asp-action="Logout">
                            <i class="sign-out icon"></i>
                            Logout
                        </a>
                    </div>
                }
            </div>
        </header>
    </div>
    <div class="col-md-11">
        <header class="user-header container-fluid" style="background-color: #078c61; position: relative;">
            @if (User.Identity.IsAuthenticated)
            {
                var user = await UserService.GetCurrentUser(User);
                <div class="ui horizontal list">
                    <div class="item">
                        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">CourseSystem</a>
                    </div>
                    <div class="item">
                        <li class="nav-item">
                            @await Html.PartialAsync("~/Views/Notification/ViewNew.cshtml")
                        </li>
                    </div>
                    <div class="item">
                        <img src="@user.Data.ProfileImage.Url" alt="Avatar" class="avatar" style="width: 20px;">
                    </div>
                    <div class="item">
                        <a class="text-white" href="@Url.Action("Index", "User")">@user.Data.FirstName @user.Data.LastName</a>
                    </div>
                </div>
            }
        </header>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>